<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <style>
        /* ... (your CSS styles) */
    </style>
</head>
<body>
    <div class="container">
        <h1>Deploying Two-Tier Flask App with Docker Compose!!!</h1>
        {% for message in messages %}
            <p>{{ message[0] }}</p>
        {% endfor %}
        
        <form action="/submit" method="post">
            <input type="text" name="new_message" placeholder="Enter a new message">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

